*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.outer-last-section{
  width: 90%;
  margin: auto;
}

.last-section{
  max-width: 43%;
  margin-top: 30px;
}
.last-section h1{
  font-size: 48px;
}
.last-section span{
  color: orangered;
}

.last-section p{
  margin-top: 10px;
  font-size: 16px;
  color: darkgrey;
  line-height: 24px;
}

.get-more button{
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin-top: 20px; 
}


.get-more :hover{
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.inner-last-section{
  display: flex;
  justify-content: space-between;
}

.inner-last-section img{
  border-radius: 10px;
}

        /* Footer  */

.outer-footer-section{
  margin-top: 200px;
  padding-block: 100px;
  background-color: black;
}

.footer-left{
  margin-top: 100px;
}

.footer-left h2{
  font-size: 24px;
  color: orangered;
}

.footer-left p{
  font-size: 8px;
  padding-left: 10px;
  color: orangered;
  font-weight: 600;
}

.footer-left input{
  border: none;
  outline: none;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 3px;
}

.footer-left img {
  width: 35px;
  margin-top: 20px;
}

.inner-footer-cont{
  display: flex;
  width: 90%;
  margin: auto;
}

.footer-right{
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  gap: 80px;
}

.footer-right h3{
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.footer-right ul{
  font-size: 14px;
  color: dimgrey;
  margin-top: 20px;
}

.smooth-card-container{
  display: flex;
  padding: 30px;
  position: absolute; 
  width: 80%;
  background-color: blueviolet;
  margin-left: 150px;
  margin-top: -210px;
  border-radius: 10px;
}

.smooth-card h1{
  font-size: 32px;
  color: white;
  text-align: center;
}

.smooth-card p{
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  padding: 10px 32px;
  width: 60%;
  margin: auto;
}

.smooth-btn button{
  padding: 10px 18px;
  border-radius: 5px;
  color: black;
  border: none;
}

.smooth-btn :hover{
  background-color: orangered;
  color: white;
  cursor: pointer;
}


.smooth-btn{
  text-align: center;
  margin-top: 20px;
}

@media(max-width:768px){
  .inner-last-section{
    display: block;
  }
  .last-section{
    max-width: 100%;
    margin-top: 0;
  }
  .last-section h1{
    font-size: 33px;
  }
  .last-section p{
    font-size: 14px;
  }

  .inner-last-section img{
    width: 100%;
    margin-top: 20px;
  }



  .smooth-card-container{
    /* display: none; */
    width: 90%;
    margin: auto;
    margin-top: -210px;
    margin-left: 20px;
    padding: 10px;
  }

  .smooth-card h1{
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .smooth-card p{
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .inner-footer-cont{
    display: block;
    width: 100%;
    margin: auto;
  }

  .footer-right{
    display: block;
    width: 90%;
    margin: auto;
  }

  .footer-left{
    width: 90%;
    margin-top: 50px;
    padding-block: 50px;
    margin: auto;
  }

  .footer-right h3{
    margin-top: 20px;
  }

  .footer-left input{
    padding: 10px 5px;
  }

}











