 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #second{
    width: 100%;
    margin-top: 30px;
  }

  #second .cont-two{
    width: 90%;
    margin: auto;
    background-image: url('/image/girl.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  }

  #second .cont-two .left .heading  #different{
    color: orangered;
  }

  #second .cont-two .left{
    max-width: 35%;
    font-size: 28px;    
    padding: 50px 0px;

  }

  #second .cont-two .left .heading {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;

  }


  #second .cont-two .left .heading img{
    width: 70px;
    height: 70px;
    margin-top: 50px; 
    margin-right: 60px;
  }

  #second .cont-two .left  p{
    font-size: 20px;
    margin-top: 20px;
    color: dimgray; 
    /* border: 2px solid red; */
  }

  #second .cont-two  button{
    border: none;
    padding: 10px;
    color: white;
    background-color: orangered;
    border-radius: 5px;
    margin-top: 30px;
  }

 